<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Edit User</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">User</a>
              </li>
              <li class="breadcrumb-item active">Edit</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>First name</mat-label>
                      <input matInput formControlName="fname" required>
                      <mat-icon matSuffix>face</mat-icon>
                      <mat-error *ngIf="userForm.get('fname').hasError('required')">
                        First name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Middle name</mat-label>
                      <input matInput formControlName="gname">
                      <mat-icon matSuffix>face</mat-icon>
                      <mat-error *ngIf="userForm.get('gname').hasError('required')">
                        Middle name is required
                      </mat-error>
                    </mat-form-field>
                </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Last name</mat-label>
                      <input matInput formControlName="lname" required>
                      <mat-icon matSuffix>face</mat-icon>
                      <mat-error *ngIf="userForm.get('lname').hasError('required')">
                        Last name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email" required>
                      <mat-icon matSuffix>email</mat-icon>
                      <mat-error *ngIf="userForm.get('email').hasError('email') && userForm.get('email').touched">
                        Please enter a valid email address
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Phone Number</mat-label>
                      <span matPrefix>
                        <mat-icon class="mr-2">phone</mat-icon>
                      </span>
                      <input matInput formControlName="phonenum" placeholder="EX: (996) 99 58 78" prefix="+251 " mask="(000) 00 00 00" />
                      <mat-error *ngIf="userForm.get('phonenum').hasError('phonenum') && userForm.get('phonenum').touched">
                        Please enter a valid Phone Number
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width">
                    <mat-label>Choose Birth Date</mat-label>
                    <input matInput formControlName="dob" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="userForm.get('dob').hasError('required')">
                        Date of Birth is required
                    </mat-error>
                  </mat-form-field>
                </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>City</mat-label>
                      <input matInput formControlName="city" required>
                      <mat-icon matSuffix>location_city</mat-icon>
                      <mat-error *ngIf="userForm.get('city').hasError('required')">
                        City name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Address</mat-label>
                      <textarea matInput formControlName="address"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="mr-3" [disabled]="!userForm.valid" mat-raised-button color="primary">Submit</button>
                    <button type="button" mat-button (click)="cancel()">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  