<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{title}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Adverts</a>
              </li>
              <li>My Adds</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card">
            <div class="header">
              <h2>{{title}}</h2>
  
            </div>
            <div class="body">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngFor="let page of page">
                  <mat-card>
                    <mat-card-header>
                      <img mat-card-avatar src="assets/images/user/user3.jpg">
                      <mat-card-title>{{page.name}}</mat-card-title>
                      <mat-card-subtitle>{{page.companyName}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{page.photo}}">
                    <mat-card-content>
                      <p>{{page.desription}}</p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                      <div fxLayout="row">
                        <button mat-icon-button>
                          <mat-icon class="col-blue">share</mat-icon>
                        </button>
                        <span fxFlex></span>
                        <button mat-button color="primary" (click)="detail(page.id)">
                          details
                        </button>
                      </div>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  