<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="contact-grid profile-image">
                        <ngx-wheel class="container-fluid"
                        #wheel
                        width='300'
                        height='300'
                        spinDuration='8'
                        [items]='items'
                        [innerRadius]='20'
                        [spinAmount]='10'
                        [textOrientation]='textOrientation'
                        [textAlignment]='textAlignment'
                        pointerStrokeColor='black'
                        pointerFillColor='gold'
                        [idToLandOn]='idToLandOn'
                        (onSpinStart)='before()'
                        (onSpinComplete)='after()'
                        ></ngx-wheel>
                    </div>
                  </div>
                  <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="card">
                        <div class="header">
                          <ul class="header-buttons-left ml-0 mb-0">
                            <li class="dropdown">
                              <h2>
                                <strong>Choose The</strong> Prize</h2>
                            </li>
                          </ul>
                            <ul class="header-buttons m-r-20">
                              <li>
                                <div class="icon-button-demo">
                                  <button mat-mini-fab color="primary" (click)='reset()'>
                                    <mat-icon class="col-white">delete</mat-icon>
                                  </button>
                                </div>
                              </li>
                            </ul>
                        </div>
                        <div class="body table-responsive">
                          <table class="table table-condensed">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>The Prize</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="bg-light-blue"  *ngFor="let prize of prizes">
                                <th scope="row">{{prize.id}}</th>
                                <td (click)="spin(prize.id)">{{prize.prize}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
    </div>
    </div>
    </div>
</section>