<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">HomePage</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> Home</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <!-- Bar chart with line -->
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2><strong>Description</strong> About Performance</h2>
            </div>
            <div class="body">
                a brief record of something written 
                down to assist the memory or for future 
                reference. notes, a record or outline of a 
                speech, statement, testimony, etc.
            </div>
          </div>
        </div>
        <!-- line chart -->
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
          <div class="plain-card">
            <div class="card-inner">
              <h6 class="tx-primary m-b-10">Some Notes</h6>
              <div class="row">
                <div class="col col-block">
                  <label class="font-14">Today</label>
                  <p>105</p>
                </div>
                <div class="col col-block">
                  <label class="font-14">This Week</label>
                  <p>825</p>
                </div>
                <div class="col col-block">
                  <label class="font-14">This Month</label>
                  <p>22,067</p>
                </div>
              </div>
              <div class="progress shadow-style">
                <div class="progress-bar l-bg-orange width-per-70" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                  aria-valuemax="100">70%</div>
              </div>
            </div>
          </div>
          <div class="plain-card">
            <div class="card-inner">
              <h6 class="tx-primary m-b-10">Income Report</h6>
              <div class="row">
                <div class="col col-block">
                  <label class="font-14">Today</label>
                  <p>$1,247</p>
                </div>
                <div class="col col-block">
                  <label class="font-14">This Week</label>
                  <p>$22,568</p>
                </div>
                <div class="col col-block">
                  <label class="font-14">This Month</label>
                  <p>$65,147</p>
                </div>
              </div>
              <div class="progress shadow-style">
                <div class="progress-bar l-bg-red width-per-70" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                  aria-valuemax="100">70%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <ul class="header-buttons-left ml-0 mb-0">
                <li class="dropdown">
                  <h2>
                    <strong>Today's Game</strong> Prize</h2>
                </li>
              </ul>
            </div>
            <div class="body table-responsive">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>The Prize</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="bg-light-blue" *ngFor="let prize of prizes">
                    <th scope="row">{{prize.id}}</th>
                    <td>{{prize.prize}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      </div>
      </section>
